body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: rgb(44, 41, 44);
  background-color: rgb(247, 239, 247);
}
aside {
  display: none;
}
#main-header {
  background-color: rgb(140, 0, 255);
  text-align: center;
  padding: 2rem 5%;
  color: white;
}
#main-header h1 {
  margin-top: 0;
}
#overlay {
  display: none;
  width: 150%;
  height: 150%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
}
#display-overlay {
  position: fixed;
  border-radius: 6px;
  top: 20%;
  left: 25%;
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
}
#display-overlay h1 {
  margin: 0;
  padding-top: 1.5rem;
}
#display-overlay label {
  padding: 0.6rem;
  font-weight: bold;
}
#display-overlay #playername {
  width: 35%;
  font-family: inherit;
  height: 2rem;
  font-size: 1.5rem;
  margin: auto;
  border-radius: 6px;
}
#display-overlay #playername:focus {
  font-family: inherit;
  border-radius: 6px;
}

#error-message-container p {
  margin: 0.5rem;
}
.display-overlay-btn-container {
  width: 50%;
  margin: auto;
}
.display-overlay-btn-container button {
  margin: 0.5rem 0.5rem;
}

.error-label {
  color: rgb(136, 2, 2);
}
.error-input {
  border-color: rgb(136, 2, 2);
  color: rgb(136, 2, 2);
  background-color: rgb(259, 219, 219);
}

#game-configuration {
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 3rem 20% 0 20%;
  text-align: center;
}
.config-container {
  display: flex;
  border-radius: 6px;
  flex-direction: column;
  padding: 1.5rem 6rem;
  background-color: rgb(243, 227, 255);
  margin: 1rem;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
}
.config-container h3,
h2 {
  margin: 0;
}
.config-container h3 {
  font-size: 1rem;
  margin: 0.5rem 0;
}
.config-container h2 {
  margin: 0.5rem 0;
}
.player-name {
  font-size: 1.5rem;
  margin: 0.5rem 0;
  color: rgb(94, 4, 168);
}
.config-container .player-symbol {
  font-size: 2.5rem;
  font-weight: bold;
  color: rgb(47, 4, 82);
  margin: 0.5rem 0;
}
.btn-trans {
  margin: auto;
  display: inline-block;
  background-color: transparent;
  border-color: transparent;
  font: inherit;
  cursor: pointer;
  border-radius: 4px;
  color: rgb(140, 0, 255);
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  transition: background-color 0.2s, border-color 0.2s ease-in 0.2s;
}
.btn-trans:hover {
  background-color: rgb(230, 201, 252);
  border-color: transparent;
}
#new-game-container {
  display: flex;
  justify-content: center;
}
.btn-clr {
  padding: 0.5rem 1.5rem;
  display: inline-block;
  background: rgb(140, 0, 255);
  border: 1px solid rgb(140, 0, 255);
  color: white;
  font: inherit;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.2s ease-in 0.2s;
}
.btn-clr:hover {
  background-color: rgb(79, 10, 190);
  border-color: rgb(79, 10, 190);
}
